.menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em;
    font-size: .75em;
    transition: background-color 0.5s, color 0.5s;
    flex: 1 1 0px;
    color: #fff;
    cursor: pointer;
    .icon-wrapper{
         width: 1.5em;
         transition: filter 0.5s;
         filter: grayscale(100%) brightness(0) invert(40%);
         padding: .25rem;
    }
}
.menu-item-active{
    background-color: #de3926;
    .icon-wrapper{
        filter: invert(1) brightness(10);
    }
}
