.contact-first-wrapper{
    background-color: #000 !important;
    img{
        max-height: 100vh;
        opacity: .85;
        position: relative;
    }
}
/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .contact-first-wrapper{
        img{
            top: 40vh;
        }
    }

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .contact-first-wrapper{
        img{
            top: 40vh;
        }
    }

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .contact-first-wrapper{
        img{
            top: 40vh;
        }
    }

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .contact-first-wrapper{
        img{
            top: 40vh;
        }
    }

}