.card-container{
    box-sizing: border-box;
    padding: 1em;
    position: relative;
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    header{
        width: 3em;
        height: 3em;
        background-color: #222;
        box-sizing: border-box;
        padding: .75rem;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        .hover-effect,.hover-effect-top{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0em;
            height: 0em;
            background-color: #de3926;
            transition: all .5s;
            z-index: 1;
        }
        .hover-effect-top{
            top: 0;
            left: 0;
        }
        .hover-effect-active{
            width: 3em;
            height: 3em;
        }
        .img-header{
            width: 50%;
            filter: invert(1) brightness(10);
            color: #fff;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            height: fit-content;
            width: fit-content;
            height: auto;
            img{
                width: 100%;
                height: auto;
                padding: .25rem;
                box-sizing: border-box;
                filter: brightness(100) invert(1);
                /*transition: transform .5s;
                &:hover{
                    transform: rotateY(360deg);
                }*/
            }
        }
    }
}
.card-container:nth-child(2n){
    border-right: none;
}

@media (max-width: 1024px) {
    .card-container{
        width: 100%;
        header{
            span{
                display: flex;
            }
        }
    }
}